$background-color: #0f0f1b;
$border-color: #565a75;
$border-secondary-color: #c6b7be;
$text-color: #fafbf6;


html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  position: absolute;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.block-container {
  position: absolute;
  overflow-y: scroll;
  overflow-x: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: min(20px, 3vh, 3vw);
}

.container {
  margin: 1em auto;
  width: fit-content;
  block-size: fit-content;
  background-color: $background-color;
  border: solid;
  border-radius: 2.5em;
  border-color: $border-color;
  color: $text-color;
}

.cool-container {
  overflow: hidden;
  max-width: min(80%, 50em);
  height: 10em;
  margin: 1.5em auto;
  display: flex;
  background-color: $background-color;
  border: solid;
  border-radius: 2em;
  border-color: $border-secondary-color;
  color: $text-color;
}

.cool-logo-container {
  margin: auto 0;
  min-width: 40%;
  width: 40%;
  height: 100%;
}

.cool-logo {
  display: block;
  margin: auto auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.horizontal {
  display: flex;
}

.title {
  text-align: center;
  margin: 1em;
}

.pfp {
  width: min(10em, 40%);
  height: 10em;
  border-radius: 50%;
  margin: 1em;
}

