$background-color: #0f0f1b;
$border-color: #565a75;
$border-secondary-color: #c6b7be;
$text-color: #fafbf6;


html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  position: absolute;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.block-container {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  margin: 1em auto;
  width: fit-content;
  block-size: fit-content;
  background-color: $background-color;
  border: solid;
  border-radius: 2.5em;
  border-color: $border-color;
  color: $text-color;
  font-size: 20px;
}

.cool-container {
  height: 8em;
  margin: 1.5em 2.5em;
  display: flex;
  border: solid;
  border-color: $border-secondary-color;
}

.cool-logo-container {
  min-width: 40%;
  max-width: 40%;
}

.cool-logo {
  display: block;
  margin: auto auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.horizontal {
  display: flex;
}

.title {
  text-align: center;
  margin: 1em;
}

.pfp {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 1em;
}

