{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:3em;width:min(60em, 90%);">
  <h2 class="title">
    My Games
  </h2>
</div>

<div class="cool-container" style="display:grid;flex-direction:row;height:auto">
  <div class="cool-container" style="border:none;max-width:100%;width:100%;margin:0 0">
    <div class="cool-logo-container">
      <img class="cool-logo" src="/games/light.png" alt="Close to Light">
    </div>
    <div class="cool-description">
      <h3><a href="https://nertsal.itch.io/close-to-light">Close to Light</a></h3>
      <p>A rhythm game in which you have to follow the lights while avoiding danger and darkness.</p>
      <p>Jam: <a href="https://itch.io/jam/1-bit-jam-wow">1-BIT JAM</a> 2023</p>
    </div>
  </div>
  <div style="max-width:min(30em,100%);text-align:center;margin:0 auto;width:100%;padding:1em 0 0 0">
    <iframe src="https://store.steampowered.com/widget/4209820" scrolling="no" frameborder="0" width="100%" height="190"></iframe>
  </div>
</div>

<div class="cool-container" style="display:grid;flex-direction:row;height:auto">
  <div class="cool-container" style="border:none;max-width:100%;width:100%;margin:0 0">
    <div class="cool-logo-container">
      <img class="cool-logo" src="/games/plantile.png" alt="Plantile">
    </div>
    <div class="cool-description">
      <h3><a href="https://nertsal.itch.io/plantile">Plantile</a></h3>
      <p>Grid-based game about building your plant factory.</p>
      <p>Jam: <a href="https://d2jam.com">Down2Jam</a> 2026</p>
    </div>
  </div>
  <div style="max-width:min(30em,100%);text-align:center;margin:0 auto;width:100%;padding:1em 0 0 0">
    <iframe src="https://store.steampowered.com/widget/4565480" scrolling="no" frameborder="0" width="100%" height="190"></iframe>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/space_age.png" alt="Space Age">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/space-age">Space Age</a></h3>
    <p>An incremental/simulation game about launching satellites into orbit.</p>
    <p>Jam: <a href="https://itch.io/jam/gmtk-jam-2026">GMTK Game Jam</a> 2026</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/trail_blazer.png" alt="Trail Blazer">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/trail-blazer">Trail Blazer</a></h3>
    <p>A turn-based online multiplayer game about gathering mushrooms.</p>
    <p>Jam: <a href="https://d2jam.com">Down2Jam</a> 2025</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/drillraph.png" alt="Drillraph">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/drillraph">Drillraph</a></h3>
    <p>A game about building and configuring your drill with a node-graph system!</p>
    <p>Jam: <a href="https://ldjam.com">Ludum Dare</a> 2025</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/ded_end.png" alt="Ded End">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/ded-end">Ded End</a></h3>
    <p>Cooperative puzzle game for two people.</p>
    <p>Jam: <a href="https://itch.io/jam/friendlyjam">Friendly Jam</a> 2025</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/pal_lab.png" alt="Pal Lab">
  </div>
  <div class="cool-description">
    <h3><a href="https://markasais.itch.io/pal-lab">Pal Lab</a></h3>
    <p>Isometric auto battler with genetic engineering</p>
    <p>Jam: <a href="https://itch.io/jam/pirate15">Pirate Software Game Jam</a> 2024</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/quantum.png" alt="Quantum Dungeon">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/quantum-dungeon">Quantum Dungeon</a></h3>
    <p>Roguelike deck-builder made for LudumDare 54 Game Jam.</p>
    <p>Jam: <a href="https://ldjam.com">Ludum Dare</a> 2024</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/open_dungeon.png" alt="Open Dungeon">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/open-dungeon">Open Dungeon</a></h3>
    <p>Roguelike with drawings as your attacks.</p>
    <p>Jam: <a href="https://itch.io/jam/gol">Game Open Lab</a> 2024</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/salmoning.png" alt="Salmoning">
  </div>
  <div class="cool-description">
    <h3><a href="https://kuviman.itch.io/salmoning">Salmoning</a></h3>
    <p>Multiplayer game about fish racing on bicycles.</p>
    <p>Jam: <a href="https://ldjam.com">Ludum Dare</a> 2024</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/jump_and_shoot.png" alt="Jump and Shoot">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/jump-and-shoot">Jump and Shoot</a></h3>
    <p>Simple Doodle Jump inspired platformer.</p>
    <p>Jam: <a href="https://ldjam.com">Ludum Dare</a> 2023</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/frost_surf.png" alt="Frost Surf">
  </div>
  <div class="cool-description">
    <h3><a href="https://icy-lava.itch.io/frost-surf">Frost Surf</a></h3>
    <p>Control the icy terrain to surf your penguin.</p>
    <p>Jam: <a href="https://itch.io/jam/gmtk-2023">GMTK Game Jam</a> 2023</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/horns.gif" alt="Horns of Combustion">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/horns-of-combustion">Horns of Combustion</a></h3>
    <p>A small bullet hell game with a unique mechanic!</p>
    <p>Jam: <a href="https://itch.io/jam/anlaut-4">Anlaut Summer Jam</a> 2023</p>
  </div>
</div>

<div class="cool-container">
  <div class='cool-logo-container'>
    <img class="cool-logo" src="/games/drill.png" alt="Drill Above">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/drill-above-ground">Drill Above</a></h3>
    <p>A platformer where you can drill through the ground!</p>
    <p>Jam: <a href="https://itch.io/jam/anlaut-3">Anlaut Winter Jam</a> 2023</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/sea_of_friends.png" alt="Sea of Friends">
  </div>
  <div class="cool-description">
    <h3><a href="https://kuviman.itch.io/sea-of-friends">Sea of Friends</a></h3>
    <p>Casual fishing multiplayer game</p>
    <p>Jam: <a href="https://itch.io/jam/honest-jam-5">The Honest Jam</a> 2022</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/caterpillar.png" alt="Caterpillar on a Balloon">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/caterpillar-on-a-balloon">Caterpillar on a Balloon</a></h3>
    <p>And then the caterpillar took flight</p>
    <p>Jam: <a href="https://ldjam.com">Ludum Dare</a> 2022</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/trigerred.png" alt="Trigerred Day">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/trigerred-day">Trigerred Day</a></h3>
    <p>Multiplayer 2d top-down shooter.</p>
    <p>Jam: <a href="https://itch.io/jam/anlaut-2">Anlaut Summer Jam</a> 2022</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/tiring_golf.png" alt="Tiring Golf">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/tiring-golf">Tiring Golf</a></h3>
    <p>Golf but it's really hard to focus.</p>
    <p>Jam: <a href="https://itch.io/jam/mini-jam-122-intermission">MiniJam</a> 2022</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/cats_mice.png" alt="Cats, Mice and 8Pixels">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/catsmice8pixels">Cats, Mice and 8Pixels</a></h3>
    <p>Puzzle game about cats, mice, and cheese.</p>
    <p>Jam: <a href="https://itch.io/jam/mini-jam-80-cats">MiniJam</a> 2021</p>
  </div>
</div>

<div class="cool-container">
  <div class="cool-logo-container">
    <img class="cool-logo" src="/games/unstable.png" alt="Unstable Asteroids">
  </div>
  <div class="cool-description">
    <h3><a href="https://nertsal.itch.io/quantum-dungeon">Unstable Asteroids</a></h3>
    <p>2D game about defending an unstable nuclear reactor in space.</p>
    <p>Jam: <a href="https://ldjam.com">Ludum Dare</a> 2021</p>
  </div>
</div>

{% endblock content %}

